.container {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: #FDF1DB;
    min-height: 100vh;
}

@media (max-width:500px) {
    .container {
        padding: 0.5rem;

    }
}