.container {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 229, 191);
    min-height: 100vh;
    font-family: 'Noto Sans';
}

@media (max-width:500px) {
    .container {
        padding: 0.5rem;

    }
}